<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../_head.ejs", {title: "/account/login"}) %>
    <script type="text/javascript" src="../../app.js"></script>
  </head>
  <body>

    <%- include("../_nav.ejs") %>

    <div class="container">
      <div class="col-sm-offset-3 col-sm-6">
        <h1><i class="fa fa-user"></i> profile page</h1>
        <table class="table table-bordered">
          <tr>
            <th class="col-sm-3">id</th>
            <td class="col-sm-9"><%= user._id%></td>
          </tr>
          <tr>
            <th class="col-sm-3">User name</th>
            <td class="col-sm-9"><%= user.name%></td>
          </tr>
          <tr>
            <th class="col-sm-3">Email</th>
            <td class="col-sm-9"><%= user.email%></td>
          </tr>
        </table>
        <form class="text-right" method="POST" action="/account/logout">
          <input type="submit" class="btn btn-default btn-lg" value="sign-out" />
        </form>
      </div>
    </div>

    <%- include("../_scripts.ejs") %>

  </body>
</html>
